<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="racecar_ros2_control" params="">
    <ros2_control name="MotorController" type="system">
        <hardware>
            <plugin>racecar_hardware/VescSystemInterface</plugin>
            <param name="port">/tty/acm</param>
        </hardware>
        <joint name="vesc">
            <command_interface name="erpm" />
            <command_interface name="steering" />
            <state_interface name="erpm" />
            <state_interface name="steering" />
        </joint>
    </ros2_control>
</xacro:macro>
</robot>