<?xml version="1.0"?>

<robot name="racecar" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find racecar_description)/urdf/description.urdf.xacro" />

  <!-- <xacro:include filename="$(find racecar_description)/urdf/control_interfaces/default.xacro" /> -->
  <xacro:include filename="$(find racecar_description)/urdf/control_interfaces/velocity.xacro" />

</robot>